* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: RobotoCondensed;
}
.container {
    overflow: hidden;

}

#header-1 {
    display: flex;
    background-color: deepskyblue;
    font-size: 50px;
    padding-bottom: 5px;
    justify-content: center;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.info-block {
    margin: 10px 20px 10px 20px;
    width: 450px;
}
.subheader {
    text-align: center;
    font-size: 30px;
    padding-bottom: 5px;
}
.text {
    text-align: justify;
    font-size: 20px;
}

#block1 {

}
#block2 {

}
#block3 {

}

@font-face {
    font-family: "RobotoCondensed";
    src: url("src/fonts/RobotoCondensed-Italic.ttf");
}